<div class="bimagen">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 colsm-9">
                <div>
                    <h1 class="display-4 text-center" style="font-family: BlinkMacSystemFont;">
                        Conheça a DeskShop</h1>
                </div>
            </div>  
            <div class="col-md-6 col-sm-9 mt-4 mb-4 text-center">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/erickkk.jpg" class="card-img-top"  style="max-width: 100%; height: 30rem; ">
                    <div class="card-body">
                        <h5>Erick Portugal Farias, 19 anos <br> veio de um bairro classe media baixa estudou e Fundou a DeskShop em 2018 e inalgurou em 2020 Se tornou um desenvolvedor full stack pela instituição Generation, e hoje é um desenvolvedor junior dono de uma empresa de importação.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-9 mt-4 mb-4 text-center">
                <div class="card borde-0 shadow-sm">
                    <img src="../../assets/img/predio.jpg" class="card-img-top"  style="max-width: 100%; height: 30rem;">
                    <div class="card-body">
                        <h5>O projéto DeskShop foi iniciado em 2018, com a promessa de inovar o mercado de importações Brasileiras, com preços, serviços e qualidade melhores, inalgurada em 01/01/2020 a DeskShop vem competindo com as grandes empresas de importações brasileiras.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>