
<div class="bgimagem">
  <div class="container ">
    <div class="row d-flex">  
      <div class="col-md-12 col-sm-12">
        <h1 class="text-center text-white mb-5" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 10%;">
         <b> Conheça a DeskShop</b>
        </h1>        
        <h3 class="text-center text-white" style="font-family: Georgia, 'Times New Roman', Times, serif;">
          Aqui na DeskShop você encontra os melhores produtos com as melhores ofertas!!
        </h3>
        <button type="button" routerLink='/sobre-nos' class="btn text-white" style="margin-top: 15px; margin-left: 50%;"><u>saiba mais </u></button>
      </div>
    </div>
  </div>