<div class="bgimagem">
  <div class="container ">
    <div class="row d-flex">  
      <div class="col-md-12 col-sm-12 text-left">
        <h1 class=" text-center color-#0001 mb-5" style="font-family: BlinkMacSystemFont; margin-top: 10%;">
          <b> Conheça a DeskShop</b>
        </h1>        
        <h3 class="text-center color-#0001" style="font-family: BlinkMacSystemFont;">
          Aqui na DeskShop você encontra os melhores produtos com as melhores ofertas!!
        </h3>
        <button type="button" routerLink='/sobre-nos' class="btn color-#0001" style="margin-top: 15px; margin-left: 45%;">
          <u class="text-center">Saiba mais </u></button>
        </div>
      </div>
    </div>
  </div>
  