<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4 mb-4 text-left">
      <h2 style="font-family: BlinkMacSystemFont;"><b>FALE CONOSCO</b></h2>
      <p class="text-left">Como podemos te ajudar? <br><br>
        Fale com o nosso time, basta<br> 
        preencher o formulário que um<br> 
        de nossos atendentes entrará em contato.
      </p>
      <br>
      <h2 style="font-family: BlinkMacSystemFont;"><b>ONDE NOS ENCONTAR</b></h2>
      <p class="text-left">
        São Paulo (sede):
        Avenida Paulista, 4,600<br>
        7º e 8º andar – Av Paulista, SP.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467692.0488529928!2d-46.87549652522071!3d-23.681531453548878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e0!3m2!1spt-BR!2sbr!4v1587697250251!5m2!1spt-BR!2sbr" width="65%" height="250rem" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="col-md-6 mt-4 mb-4 text-left">
        <h2 style="font-family: BlinkMacSystemFont;"><b>FORMULÁRIO</b></h2>       
        <form>
          <div class="form-row">
            <div class="col">
              <label for="exampleInputEmail1">Nome</label>
              <input type="text" class="form-control" placeholder="Nome">
            </div>            
            <div class="col">
              <label for="exampleInputEmail1">Sobrenome</label>
              <input type="text" class="form-control" placeholder="Sobrenome">
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu email.</small>
          </div>          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Mensagem (opcional)</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>          
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Concordo</label>
          </div>          
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>        
      </div>
    </div>
  </div>