<div id="carouselExampleIndicators" class="carousel slide" style="transition: cubic-bezier(0.6);" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/baner1.png" class="d-block w-100" alt="baner 1">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/baner2.png" class="d-block w-100" alt="baner 2">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/baner3.png" class="d-block w-100" alt="baner 3">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/rifle.jpg" class="d-block w-100" alt="baner 4">
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="container">
        <div class="row d-flex">  
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/PLAstation4.webp" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Playstation 4 Pro 1TB <br> R$ 2.000,00 em 12x de R$ 166,66 sem juros</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/XBox.jpeg" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Xbox One S 1TB 1 <br> R$ 2.000,00 em 12x de R$ 166,66 sem juros</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/tv1.jpg" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Smart TV 8K Sony LED 85” com 8K X-Reality, R$ 85.999,99 à Vista</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/notebookG5.jpg" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Notebook Gamer Dell <br>R$ 5.000,00 em 12x de R$ 416,66 sem juros</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/tv2.jpg" class="card-img-top"  style="max-width: 100%;">
                    <br><br>
                    <div class="card-body">
                        <h5 class="card-title">Smart TV 4K LED 75” Samsung UN75RU7100 - Wi-Fi Bluetooth HDR 3 HDMI 2 USB</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/notebookG3.jpg" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Notebook Gamer Dell<br> R$ 4.000,00 em 12x de R$ 333,33 sem juros</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/iphonexr.jpg" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">iPhone XR tela 6,1 <br> R$ 3.500,00 em 12x de R$ 291,66 sem juros</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-9 mt-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <img src="../../assets/img/sansumg.webp" class="card-img-top"  style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Samsung Galaxy S10<br> R$ 3.500,00 em 12x de R$ 291,66 sem juros</h5>
                        <a href="#" class="btn btn-primary"  target="_blank">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>