<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-on md-mb-30 sm-mb-30">
                <h3>Dicas de Segurança</h3>
                <p>Certifique-se os dados de entrega estão corretos, não pedimos dados que comprometam nossos cliente.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                <h2>Empresa</h2>
                <ul>
                    <li><a routerLink='/sobre-nos'>Sobre-nos</a></li>
                    <li><a routerLink='/contato'>Suporte</a></li>
                    <li><a routerLink='/politica'>Politica de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                <h2>Redes Sociais</h2>
                <p>Siga a gente e fique por dentro de todas as novidades!</p>
                <a href="#" title="Facebook">
                    <fa-icon [icon]="faFacebook" class="faFacebook fa-3x"></fa-icon>
                </a>
                
                <a href="#" title="Twitter">
                    <fa-icon [icon]="faTwitter" class="fatwitter fa-3x"></fa-icon>
                </a>
                
                <a href="#" title="Linkedin">
                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon>
                </a>
                
                <a href="#" title="Github">
                    <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                <h2>Suporte</h2>
                <p>Qualquer duvida deixe seu email que entraremos em contato em até 24 Horas.</p>
                <form>
                    <input type="email">
                    <input type="submit" value="ENVIAR">
                </form>
            </div>
        </div>
    </div>
</div>        
